<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="product_price" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Additional Value</label>
                <field id="product_additional_price" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Additional Price Value</label>
                    <validate>number validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>

